body {
    background: #eee;
}

form {
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 4px;
}

.button {
    border-radius: 5px;
    padding: 5px;
}