body {
    background: #eee;
}

form {
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 4px;
}

.button {
    border-radius: 5px;
    padding: 5px;
}

.success {
    border: 2px solid limegreen;
    background: greenyellow;
}

.error {
    border: 2px solid crimson;
    background: indianred;
}